<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:Console" value ="Serilog.Sinks.Console"/>
    <add key="serilog:write-to:Console"/>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="log-.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Hour" />
    <!--<add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />-->
  </appSettings>
</configuration>